@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroL";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MYHaemalgeunSangsang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYHaemalgeunSangsang.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MYHaemalgeunSangsang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYHaemalgeunSangsang.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration-line: none;
}

html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  /* background-color: white; */
}
/* #wrapper {
  /* padding-top: 30px; */
/* color: white; */
/* background-color: #1d9042; 
}
  */

#wrapper {
  width: 100%;
  background-color: #1d9042;
  /* height: 100%; */
}

.header {
  width: 1200px;
  text-align: center;
  color: inherit;
  font-family: "SBAggroB";
  background-color: #1d9042;
  color: white;
  /* position: fixed; */
  padding-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0 auto;
}

.header h3 {
  font-size: 20px;
}

.header h1 {
  font-size: 70px;
}

.header h3,
h1:hover {
  cursor: pointer;
}

.menu-box {
  padding: 5px;
  font-family: "SBAggroM";
  font-weight: bold;
  background-color: #1d9042;
  display: flex;
}

.menu-box ul {
  list-style: none;
  display: flex;
  width: 1200px;
  justify-content: center;
  margin: 0px auto;
  font-size: 30px;
}

.menu-box li > a {
  color: #fff;
  width: 168px;
  padding-top: 4px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
}

.menu-box ul a:hover {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
}

.tabs {
  position: absolute;
  width: 600px;
  height: 900px;
  background: #f5f5f5;
  padding: 20px 30px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 10px 5px #ccc;
  border: 3px solid red;
}
.tabs .tab-header {
  height: 60px;
  display: flex;
  align-items: center;
}
.tabs .tab-header > div {
  width: calc(100% / 3);
  text-align: center;
  color: black;
  font-family: "LINESeedKR-Bd";
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
}
.tabs .tab-header > div > i {
  display: block;
  margin-bottom: 5px;
}

.tabs .tab-header > div.active {
  color: #00acee;
}
.tabs .tab-indicator {
  position: relative;
  width: calc(100% / 3);
  height: 5px;
  background: #00acee;
  left: 0px;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}
.tabs .tab-body {
  position: relative;
  height: calc(100% - 60px);
  padding: 10px 5px;
}
.tabs .tab-body > div {
  position: absolute;
  top: -200%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
  color: black;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs .tab-body > div.active {
  top: 0;
  opacity: 1;
  transform: scale(1);
  position: relative;
}
.event {
  float: right;
  margin-right: 200px;
}
.event p {
  color: black;
  font-size: 50px;
}
.event-box {
  border: 5px solid black;
}
.search-box > input {
  padding: 10px 55px 10px 20px;
  height: 60px;
  font-size: 18px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}

.search-box {
  position: relative;
  margin-right: 10px;
}

.search-box > input::placeholder {
  color: #fff;
}

.search-box .btn_search {
  position: absolute;
  top: 7px;
  right: 10px;
  width: auto;
  outline: none;
  background: none;
  border: 0;
  cursor: pointer;
}

.search-box .btn_search > img {
  border: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #1d9042;
}

/* 한비가추가 */
.prod_wrap {
  background-color: #fff;
  border-radius: 10px;
  transform: translateY(-18px);
  padding: 25px;
}

.prod_tab li.active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
}

.prod_tab li.active > a {
  color: #000;
}

.dam_main {
  display: flex;
  justify-content: space-between;
}

.main_tab {
  display: inline-block;
  font-family: "LINESeedKR-Bd";
  margin-right: 20px;
}

.main_tab li {
  margin-bottom: 10px;
}

.main_tab li a {
  border: 2px solid #0c5c00;
  display: inline-block;
  font-size: 25px;
  width: 130px;
  text-align: center;
  /* border-radius: 10px; */
  color: #666;
  height: 55px;
  line-height: 55px;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.main_tab li a:active,
.main_tab li a:hover {
  background-color: #0c5c00;
  color: #fff;
}

.main_tab li.active a {
  background-color: #0c5c00;
  color: #fff;
}

.main_cont_top > img {
  border: 3px solid black;
  width: 66%;
}

.main_cont_top {
  display: flex;
  justify-content: space-between;
}
.main_cont_bottom {
  margin-left: -150px;
  margin-top: 100px;
}
.hot_place_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hot_place_info  li {
  width: 33%;
  margin-bottom: 25px;
}

.hot_place_info > li img {
  width: 358px;
  border: 1px solid #666;
  border-radius: 10px;
  box-sizing: border-box;
}

.hot_place_title {
  /* display: inline-block; */
  width: 290px;
}

.hot_place_title .hp_sub {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  width: 357px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 95px;
  color: #666;
  letter-spacing: -1px;
}

.hp_title {
  font-size: 25px;
  font-weight: bold;
  display: block;
  color: #0c5c00;
  padding: 10px 0px;
}
.main_tab_pro.active {
  border: 1px solid #e0efdc;
}
.main_event {
  width: 320px;
  border: 3px solid red;
  padding-left: 10px;
}

.main_event > h1 {
  border-bottom: 3px solid #0c5c00;
  font-size: 30px;
  color: #0c5c00;
}

.event_info {
  font-size: 20px;
}
.event_info li span {
}

.naver_search {
  /* position: absolute; */
  top: 10%;
  height: 55px;
  width: 230px;
  border: 3px solid #00c73c;
  display: flex;
}
.naver_search form {
  display: flex;
  width: 100%;
}
.naver_search > form > input {
  height: 45px;
  width: 80%;
  outline: none;
  border: none;
  margin: 1px;
  font-family: "LINESeedKR-Bd";

  font-size: 20px;
}
.naver_search .btn_search {
  background-color: #00c73c;
  /* border: 3px solid #00c73c; */
  border: none;
  width: 20%;
}
.naver_search .btn_search:hover {
  cursor: pointer;
}
/* 날씨 시작 */
.card {
  font-size: 20px;
  color: #000;
  font-family: "MYHaemalgeunSangsang";
  text-shadow: -2px 0px white, 0px 2px white, 2px 0px white, 0px -2px white;
  margin-top: 20px;
  width: 300px;
  /* height: 400px; */
  /* background-color: #00acee; */
  text-align: center;
  /* border: 2px solid #1d9042; */
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../doc/죽녹원_여름1.jpg");
  /* background-image: linear-gradient(
      to bottom,
      transparent,
      rgb(68, 165, 68))
    ),
    url("../doc/죽녹원_여름1.jpg"); */
  background-size: contain;
}

#humidity {
  line-height: 50px;
  font-size: 28px;
  font-weight: bold;
}
.card #ic {
  width: 50px;
  height: 50px;

}
/* 날씨 끝*/
.blog {
  position: relative;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.blog > p {
  padding-left: 10px;
  font-family: "LINESeedKR-Bd";
}
.blog:hover {
  cursor: pointer;
}
.damyang_web {
  position: relative;
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.damyang_web > p {
  font-family: "LINESeedKR-Bd";
  padding-left: 10px;
}
.damyang_web :hover {
  cursor: pointer;
}

/* 소개 */
.prod_list01.active > p.sogae {
  font-size: 40px;
  font-family: "LINESeedKR-Bd";
}

.sogae_info {
  display: flex;
  flex-wrap: wrap;
}

.sogae_info li {
  width: 50%;
  height: 400px;
}

.sogae_info li > img {
  width: 290px;
}

.soga_title {
  width: 250px;
  display: inline-block;
}

.soga_title span:nth-child(1) {
  font-size: 25px;
  display: block;
  color: #0c5c00;
  font-weight: bold;
}
.soga_title span:nth-child(2) {
  padding: 10px;
}
