@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MYHaemalgeunSangsang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYHaemalgeunSangsang.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration-line: none;
}

html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  /* background-color: white; */
}
/* #wrapper {
  /* padding-top: 30px; */
/* color: white; */
/* background-color: #1d9042; 
}
  */

#wrapper {
  width: 100%;
  background-color: #1d9042;
  height: 100%;
}

.header {
  width: 1200px;
  text-align: center;
  color: inherit;
  font-family: "SBAggroB";
  background-color: #1d9042;
  color: white;
  /* position: fixed; */
  padding-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0 auto;
}

.header h3 {
  font-size: 20px;
}

.header h1 {
  font-size: 70px;
}

.header h3,
h1:hover {
  cursor: pointer;
}

.menu-box {
  padding: 5px;
  font-family: "SBAggroB";
  font-weight: bold;
  background-color: #1d9042;
  display: flex;
}

.menu-box ul {
  list-style: none;
  display: flex;
  width: 1200px;
  justify-content: center;
  margin: 0px auto;
  font-size: 30px;
}
.menu-box li {
  /* margin: 0% 50px 0px 50px; */
  background-color: #1d9042;
  color: white;
  /* padding: 0px 30px 0px 30px; */
  /* width: 180px; */
  /* height: 70px; */
  line-height: 70px;
  cursor: pointer;
  padding: 0 60px;
}

/* .menu-box li:hover {
  background-color: white;
  color: #1d9042;
} */
/* .main-box {
  background-color: white;
  width: 1200px;
  height: 480px;
  margin: 0 auto;
} */
.tabs {
  position: absolute;
  /* top: 5px; */
  /* left: 10px; */
  /* transform: translate(-50%, -50%); */
  width: 600px;
  height: 900px;
  background: #f5f5f5;
  padding: 20px 30px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 10px 5px #ccc;
  border: 3px solid red;
}
.tabs .tab-header {
  height: 60px;
  display: flex;
  align-items: center;
}
.tabs .tab-header > div {
  width: calc(100% / 3);
  text-align: center;
  color: black;
  font-family: "LINESeedKR-Bd";
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
}
.tabs .tab-header > div > i {
  display: block;
  margin-bottom: 5px;
}

.tabs .tab-header > div.active {
  color: #00acee;
}
.tabs .tab-indicator {
  position: relative;
  width: calc(100% / 3);
  height: 5px;
  background: #00acee;
  left: 0px;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}
.tabs .tab-body {
  position: relative;
  height: calc(100% - 60px);
  padding: 10px 5px;
}
.tabs .tab-body > div {
  position: absolute;
  top: -200%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
  color: black;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs .tab-body > div.active {
  top: 0;
  opacity: 1;
  transform: scale(1);
  position: relative;
}
.event {
  float: right;
  margin-right: 200px;
}
.event p {
  color: black;
  font-size: 50px;
}
.event-box {
  border: 5px solid black;
}
.search-box > input {
  padding: 10px 55px 10px 20px;
  height: 60px;
  font-size: 18px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}

.search-box {
  position: relative;
  margin-right: 10px;
}

.search-box > input::placeholder {
  color: #fff;
}

.search-box .btn_search {
  position: absolute;
  top: 7px;
  right: 10px;
  width: auto;
  outline: none;
  background: none;
  border: 0;
  cursor: pointer;
}

.search-box .btn_search > img {
  border: 0;
}

.container {
  width: 1200px;
  height: 2000px;
  margin: 0 auto;
  padding: 10px;
  background-color: #1d9042;
}

/* 한비가추가 */
.prod_wrap {
  height: 2000px;
  background-color: #fff;
  border-radius: 10px;
  transform: translateY(-18px);
  padding: 20px;
}

.prod_tab li > a {
  color: #fff;
  text-decoration-line: none;
}

.prod_tab li.active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
}

.prod_tab li.active > a {
  color: #000;
}

.dam_main {
  display: flex;
  justify-content: center;
}

.main_tab {
  display: inline-block;
  /* width: 113px; */
  font-family: "LINESeedKR-Bd";
}
.main_tab li {
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  width: 100px;
  text-align: center;
  /* border: 1px solid red; */
  background-color: #e0efdc;
}

.main_tab li a {
  color: #000;
}

.main_tab li.active a {
  color: #1d9042;
}

.main_tab_cont {
  display: flex;
}
.main_tab_cont > img {
  border: 3px solid black;
}
.main_tab_pro.active {
  border: 1px solid #e0efdc;
}
.main_event {
  width: 250px;
  border: 3px solid red;
}
.main_event > h1 {
}

.naver_search {
  position: absolute;
  top: 10%;
  height: 55px;
  width: 230px;
  border: 3px solid #00c73c;
  display: flex;
}
.naver_search form {
  display: flex;
  width: 100%;
}
.naver_search > form > input {
  height: 45px;
  width: 80%;
  outline: none;
  border: none;
  margin: 1px;
}
.naver_search .btn_search {
  background-color: #00c73c;
  /* border: 3px solid #00c73c; */
  border: none;
  width: 20%;
}
.naver_search .btn_search:hover {
  cursor: pointer;
}
